site_name: "Portfolio"
site_url: https://keyvigl.github.io/ia-portafolio


theme:
  name: material
  language: es
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.sections
    - header.autohide
    - content.code.copy
    - content.tabs.link
    - search.highlight
    - search.suggest
    - toc.follow
  palette:
    - scheme: default
      primary: indigo
      accent: cyan
      toggle:
        icon: material/weather-night
        name: Dark mode
    - scheme: slate
      primary: indigo
      accent: lime
      toggle:
        icon: material/weather-sunny
        name: Light mode
  font:
    text: 'Inter'
    code: 'JetBrains Mono'

plugins:
  - search
  - awesome-pages


  - git-revision-date-localized:
      type: date
      locale: es
      timezone: America/Montevideo
      fallback_to_build_date: true
  - glightbox  # para lightbox en imágenes

markdown_extensions:
  - admonition
  - md_in_html
  - attr_list
  - footnotes
  - tables
  - toc:
      permalink: true
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

# Opcional: define navegación manual si quieres controlar el orden/etiquetas
# nav:
#   - Inicio: index.md
#   - Acerca de mí: acerca.md
#   - Portfolio:
#       - Índice: portfolio/index.md
#       - Práctica 01: portfolio/01-primera-entrada.md
#       - Feature Engineering: portfolio/02-Feature-Engineering.md
#       - Regresión Lineal y Logística: portfolio/02-Regresion-Lineal-Logistica.md
#       - Validación y Selección de Modelos: portfolio/03-Validacion-Seleccion-deModelos.md
#   - Recursos: recursos.md
extra_css:
  - assets/custom.css
